@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: inherit;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-speed:before {
	content: "\e901";
	// color: #707070;
}
._icon-Magaz:before {
	content: "\e900";
	// color: #707070;
}
._icon-book:before {
	content: "\e909";
	// color: #707070;
}
._icon-box:before {
	content: "\e90a";
	// color: #707070;
}
._icon-connec:before {
	content: "\e90b";
	// color: #707070;
}
._icon-location1:before {
	content: "\e90c";
	// color: #707070;
}
._icon-lockdot:before {
	content: "\e90d";
	// color: #707070;
}
._icon-phone1:before {
	content: "\e910";
	// color: #707070;
}
._icon-reward:before {
	content: "\e911";
	// color: #707070;
}
._icon-social:before {
	content: "\e912";
	// color: #707070;
}
